/* html, body {
    margin: 0;      
    padding: 0;     
    height: 100%;   
}


:root {
    --background-color:  hsl(218, 23%, 16%); 
    --card-background: hsl(217, 19%, 24%);
    --card-heading : hsl(150, 100%, 66%);
    --quote : hsl(193, 38%, 86%);
}

.bg-container{
    width : 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-container {
    background-color: var(--card-background);
    width: 450px;
    height: 300px; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    border-radius: 5px;
    padding: 20px; 
    position: relative; 
}

.advice-id {
    color: var(--card-heading);
    font-size: 10px;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.quote {
    font-size: 22px;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    padding: 0 30px; 
    text-align: center;
    color: var(--quote);
    flex-grow: 1;
}

.play-button{
    margin-bottom: 60px;
}

.dice-button {
    position: absolute; 
    bottom: -36px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: var(--card-heading);
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--card-heading);
    transition: all 0.3s ease;
}

.dice-button:hover {
    box-shadow: 0px 0px 40px var(--card-heading);
}


.dice-button:hover {
    box-shadow: 0px 0px 40px var(--card-heading);
}



@media screen and (max-width: 375px) {
    .card-container {
        width: 300px;
        height: 250px; 
    }

    .advice-id {
        font-size: 10px;
    }

    .quote {
        font-size: 16px;
        padding: 10px 5px;
    }


} */


/* html, body {
    margin: 0;      
    padding: 0;     
    height: 100%;   
}

:root {
    --background-color: hsl(218, 23%, 16%); 
    --card-background: hsl(217, 19%, 24%);
    --card-heading: hsl(150, 100%, 66%);
    --quote: hsl(193, 38%, 86%);
}

.bg-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: var(--card-background);
    width: 450px;
    height: 300px; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    border-radius: 5px;
    padding: 20px; 
    position: relative; 
}

.advice-id {
    color: var(--card-heading);
    font-size: 10px;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.quote {
    font-size: 22px;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    padding: 0 30px; 
    text-align: center;
    color: var(--quote);
    flex-grow: 1;
}

.play-button {
    margin-bottom: 60px;
}


.dice-button {
    position: absolute; 
    bottom: -36px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: var(--card-heading);
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--card-heading);
    transition: all 0.3s ease;
}

.dice-button:hover {
    box-shadow: 0px 0px 40px var(--card-heading);
}

@media screen and (max-width: 375px) {
    .card-container {
        width: 300px;
        height: 250px; 
    }

    .advice-id {
        font-size: 10px;
    }

    .quote {
        font-size: 16px;
        padding: 10px 5px;
    }

    .play-button svg {
        width: 200px; 
        height: 10px; 
    }

    .dice-button {
        padding: 15px; 
        bottom: -28px; 
    }
} */



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --background-color: hsl(218, 23%, 16%);
    --card-background: hsl(217, 19%, 24%);
    --card-heading: hsl(150, 100%, 66%);
    --quote: hsl(193, 38%, 86%);
}

.bg-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: var(--card-background);
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.advice-id {
    color: var(--card-heading);
    font-size: 10px;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.quote {
    font-size: 22px;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    padding: 0 30px;
    text-align: center;
    color: var(--quote);
    flex-grow: 1;
}


.play-button {
    margin-bottom: 60px;
}

.play-button .desktop-icon {
    display: block;
}

.play-button .mobile-icon {
    display: none;
}

@media (max-width: 600px) {

    .play-button .desktop-icon {
        display: none;
    }

    .play-button .mobile-icon {
        display: block;
    }


    .card-container {
        width: 300px;
        height: 250px;
    }

    .advice-id {
        font-size: 10px;
    }

    .quote {
        font-size: 16px;
        padding: 10px 5px;
    }
}


.dice-button {
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--card-heading);
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--card-heading);
    transition: all 0.3s ease;
}

.dice-button:hover {
    box-shadow: 0px 0px 40px var(--card-heading);
}
